
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content >
  <div class="image-container">
    <img src="" class="top-image" id="animated-img">
  
  </div>
  <ion-item class="um"  color="translucent">
    <ion-label position="floating">Nome de Usuário</ion-label>
    <ion-input [(ngModel)]="username" type="text"></ion-input>
  </ion-item>
  <ion-item class="dois"  color="info">
    <ion-label position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="login()">Login</ion-button>
  <ion-button expand="full" routerLink="/cadastro">Cadastrar-se</ion-button>


</ion-content>
